@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

.App {
  background-color: #EFEFEF;
  font-family: Oxygen;
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

.has-search input {
  padding-left: 2.375rem;
  color: #aaa;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.log-sign-form {
  background: rgba(255, 255, 255, 0.5);
}

h2.login {
  margin-top: 34px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color: #293854;
}

p.welcome {
  color: #73839C;
  margin-top: 20px;
  margin-bottom: 35px;
}

.form-group {
  height: 50px;
}

.footer {
position: absolute;
text-align: center;
background-color: #f7f7f7;
color: #333;
bottom: 0;
padding-bottom: 0;
width: 100%;
}