@import url('https://fonts.googleapis.com/css?family=Oxygen');

.App {
  background-color: #EFEFEF;
  font-family: Oxygen;
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.footer {
position: absolute;
text-align: center;
background-color: #f7f7f7;
color: #333;
bottom: 0;
padding-bottom: 0;
width: 100%;
}